.layout-wrapper {
    &.layout-rtl {
         #layout-right-panel {
            left: -230px;
            right: auto;
            position: fixed;
            direction: rtl;
            padding: 20px 10px 20px 0;
            @include transition(left $transitionDuration);

            .ui-panel-content {
                ul {
                    margin-right: -5px;
                }
            }

            .ui-accordion-header {
                .ui-icon-triangle-1-e {
                    color: $rightPanelHeaderTextColor;
                    margin-right: 0;
                    margin-left: 5px;
                }

                .ui-icon-triangle-1-s {
                    color: $rightPanelHeaderTextColor;
                    margin-right: 0;
                    margin-left: 5px;
                }
            }

            &.layout-right-panel-active {
                left: 0;
                right: auto;
            }
        } 

        .layout-topbar {
            right: 0;

            #topbar-menu-button {
                float: right;
                transform: rotate(180deg);
            }

            .search-input {
                float: right;
                margin-right: 10px;

                .icon-search {
                    right: 10px;
                    left: auto;
                }

                input {
                    text-align: right;
                    padding: 6px;
                    padding-right: 28px;
                }
            }

            #topbar-profile-menu-button {
                float: left;
                direction: rtl;

                span {
                    margin-left: 10px;
                }

                img {
                    margin-left: 6px;
                }

            }

            #topbar-usermenu {
                left: 0;
                right: auto;
                padding: 10px;
                margin: 0;
                position: fixed;
                
                &.usermenu-active {
                    display: block;
                }

                li {
                    a {
                        text-align: right;
                        padding: 10px 20px;

                        i {
                            float: right;
                            margin-left: 9px;
                            margin-top: 5px;
                        }

                        span, img {
                            display: inline-block;
                        }

                        .topbar-submenuitem-badge {
                            float: left;

                        }
                    }

                    ul {
                        margin: 0;
                        padding: 0;
                        a {
                            padding-right: 35px;
                            img {
                                float: right;
                                margin-left: 8px;
                                margin-top: -2px;
                            }
                        }
                    }
                }
            }

            #right-panel-button {
                left: 10px;
                @include rotate(180deg);

                &.menu-button-rotate {

                    i {
                        @include rotate(-180deg);
                    }
                }
            }
        }

        .layout-sidebar {
            right: 0;
            left: auto;
            direction: rtl;

            .layout-menu-title {
                margin-left: 20px;
                margin-right: 20px;
                margin-bottom: 10px;
            }

            .layout-menu {
                li {
                    a {
                        .menuitem-badge {
                            margin-left: 14px;
                            float: left;
                            margin-right: 0;
                        }

                        i {
                            margin-left: 16px;
                            margin-right: 0;
                        }

                        .layout-menuitem-toggler {
                            left: 16px;
                            right: auto;
                            margin-left: 0; 
                        }
                    }

                    ul {
                        li {
                            a {
                                padding-right: 35px;
                                padding-left: 20px;
                            }

                            ul {        
                                li {    
                                    a {
                                        padding-right: 50px;
                                        padding-left: 20px;
                                    }
                                }
    
                                ul {        
                                    li {    
                                        a {
                                            padding-right: 65px;
                                            padding-left: 20px;
                                        }
                                    }
    
                                    ul {        
                                        li {    
                                            a {
                                                padding-right: 80px;
                                                padding-left: 20px;
                                            }
                                        }
    
                                        ul {        
                                            li {    
                                                a {
                                                    padding-right: 95px;
                                                    padding-left: 20px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .layout-main {
            margin-right: 224px;
            margin-left: 0;
        }

        .route-bar {
            direction: rtl;
        }
    }
}

@media (max-width: 1024px) {
    .layout-wrapper {
        &.layout-rtl {
            .layout-sidebar {
                right: -224px;
                @include transition(right .3s);

                .layout-menu {
                    >li {
                        >a {
                            i {
                                &:first-child {
                                    margin-left: 8px;
                                    margin-right: 0;
                                }
                            }
                        }

                        ul {
                            li {
                                a {
                                    padding-right: 35px;
                                    padding-left: 12px;

                                    i {
                                        &:first-child {
                                            margin-left: 8px;
                                            margin-right: 0;
                                        }
                                    }
                                }

                                ul {
                                    li {
                                        a {
                                            padding-right: 50px;
                                        }

                                        ul {
                                            li {
                                                a {
                                                    padding-right: 66px;
                                                }

                                                ul {
                                                    li {
                                                        a {
                                                            padding-right: 82px;
                                                        }
                                                    }

                                                    ul {
                                                        li {
                                                            a {
                                                                padding-right: 88px;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .layout-main {
                margin-right: 0;
                margin-left: 0;
            }

            &.layout-menu-mobile-active {
                .layout-sidebar {
                    right: 0px;
                    left: auto;
                }
            }
            
            .layout-topbar {

                #topbar-menu-button {
                    float: right;
                    transform: rotate(0deg);
                }

                .search-input {
                    float: right;
                    width: 100px;

                    .icon-search {
                        right: -60px;
                        left: auto;
                    }
                }

                .logo-container {
                    position: relative;
                    top: 30px;
                    left: 85px;
                }

                #topbar-profile-menu-button {
                    left: 0;
                    font-weight: 500;
                    width: 100px;
                }

                #topbar-usermenu {
                    left: 0;
                    right: auto;
                    top: 120px;
                    position: absolute;
                }
            }

            &.topbar-icons-active {
                .layout-topbar {
                    .topbar-content {
                        .topbar-icons {
                            direction: rtl;

                            ul {
                                li {
                                    a {
                                        text-align: right;
            
                                        i {
                                            margin-left: 20px;
                                            margin-right: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            
            .route-bar {
                direction: rtl;
            }
        }
    }
}

@media (min-width: 1025px) {
    .layout-wrapper {
        &.layout-rtl {
            &.layout-menu-static {
                .layout-sidebar {
                    right: 0;
                    left: auto;  
                    z-index: 999;
                    @include shadow(-1px 3px 3px rgba(0, 0, 0, 0.12));
                    @include transition(right $transitionDuration);
  
                }

                .layout-main {
                    margin-right: 224px;
                    margin-left: 0;
                    @include transition(margin-right .3s);
                }

                &.layout-menu-static-inactive {
                    .layout-sidebar {
                        right: -224px;
                        
                    }

                    .layout-main {
                        margin-right: 0;
                        @include transition(margin-right .3s);
                    }

                    .layout-topbar {
                        #topbar-menu-button {
                            i {
                                transform: rotate(-180deg);
                            }
                        }
                    }
                }
             }

             &.layout-menu-overlay {
                .layout-sidebar {
                    right: -224px;
                    @include transition(right .3s);
                    @include shadow(-1px 3px 3px rgba(0, 0, 0, 0.12));
                }

                .layout-main {
                    margin-right: 0;
                }

                .layout-topbar {
                    #topbar-menu-button {
                        display: block;
    
                        i {
                            @include rotate(-180deg);
                        }
                    }
                }

                &.layout-menu-overlay-active {
                    .layout-sidebar {
                        right: 0;
                        left: auto;
                        @include transition(right .3s);
                    }

                    .layout-topbar {
                        #topbar-menu-button {
                            i {
                                @include rotate(0deg);
                            }
                        }
                    }
                }

             }

             &.layout-menu-slim {
                 .layout-sidebar {
                    @include shadow(-3px 3px 3px rgba(0, 0, 0, 0.12));

                     .layout-menu {
                         > li {

                            ul {
                                li {
                                    a {
                                        .layout-menuitem-toggler {
                                            margin-left: 0px;
                                        }
                                    }
                                }
                            }
                             
                            > a{
                                i {
                                    margin-left: 0;
                                }
                            } 

                             > ul {
                                 right: 50px;
                                 left: auto;
                                 border-right: 4px solid #2162b0;
                                 border-left: 0;

                                 a {
                                     i {
                                         &:first-child {
                                             margin-left: 8px;
                                             margin-right: 0;
                                         }
                                     }
                                 }

                                 > li {
                                     > a {
                                         padding-right: 8px;
                                         padding-left: 8px;
                                     }

                                     li {
                                         a {
                                             padding-right: 24px;
                                             padding-left: 8px;
                                         }

                                         li {
                                             a {
                                                 padding-right: 40px;
                                                 padding-left: 8px;
                                             }

                                             li {
                                                 a {
                                                     padding-right: 56px;
                                                     padding-left: 8px
                                                 }

                                                 li {
                                                     a {
                                                         padding-right: 72px; 
                                                         padding-left: 8px;
                                                     }

                                                     li {
                                                         a {
                                                            padding-right: 88px; 
                                                            padding-left: 8px;
                                                         }
                                                     }
                                                 }
                                             }
                                         }
                                     }
                                 }
                             }
                         }

                         .layout-menu-tooltip {
                            right: 50px;
                            left: auto;

                            .layout-menu-tooltip-arrow {
                                right: 0;
                                left: auto;
                                border-width: 5px 5px 5px 0;
                                transform: rotate(180deg);
                            }
                        }
                     }
                 }

                 .layout-main {
                    margin-right: 64px;
                    margin-left: 0;
                }
            }

            &.layout-menu-horizontal {    
                .layout-sidebar {
                    width: 100%;
                    height: auto;
                    top: 60px;
                    right: 0;
                    padding: 12px 10px;


                    .layout-menu {
                        margin: 0;
                        padding: 0;

                        > li {
                            padding: 0;
                            > a {
                                height: 40px;
                                padding: 10px;
                                i {


                                    &:first-child {
                                        margin-left: 8px;
                                        margin-right: 0;
                                    }

                                    &.layout-menuitem-toggler {
                                        margin-right: 8px;
                                        margin-left: 0;
                                        margin-top: 0;
                                    }
                                }
                            }

                            > ul {
                                right: auto;
                                li {
                                    a {
                                        padding: 10px 20px;
                                        i {
                                            margin-left: 8px;
                                            margin-right: 0;

                                            &:last-child {
                                                float: left;
                                                margin-right: 8px;
                                                margin-left: 0;
                                            }
                                        }
                                    }

                                    ul {
                                        li {
                                            a {
                                                padding-right: 35px;
                                            }

                                            ul {
                                                li {
                                                    a {
                                                        padding-right: 50px;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }          
                        
                        .layout-menu-tooltip {
                            display: none;
                        }
                    }
                }

                .layout-main {
                    margin: 0;

                    .route-bar {
                        padding-right: 10px;
                        padding-left: 0;
                    }
                }
            }
        }
    }
}
            